/* @override 
	http://kenya.lightyourmusic.com/sites/all/themes/prolifik/css/prolifik-base.css?mgqmks
	http://kenya.lightyourmusic.com/sites/all/themes/prolifik/css/prolifik-base.css?mgsf4r
	http://kenya.lightyourmusic.com/sites/all/themes/prolifik/css/prolifik-base.css?mgz6a7 */

/* This file will hold the main styles for your website. 
@dark = #006e34
@light =
@red = #e41a20
@yellow = #ffd40a
*/
body {

}
/* Kill flexible images in IE6-8 */
.ie6-8 img {
  max-width: none; }
 /* Improve IE's resizing of images */
svg:not(:root) {
    overflow: hidden; }
  
img {
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic; }

div.image-left a img, div.left img {
	float: left;
	margin-right: 1%;
	margin-bottom: 1%;
}

img.left {
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
}

/* @group Links */
a, a:link {
  text-decoration: none;
}
a, a:link, a:visited, a:active {
  color: #006e34;
  text-decoration: underline;
}
a:hover {
  text-decoration: underline;
}
/* @end */

/* @group Headers */

body > #page h1, body > #page h2, body > #page h3,
body > #page h4, body > #page h5, body > #page h6 {
  color: #006e34;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 1em;
}

body > #page h1#page-title {
  color: #e31a20;
  text-transform: none;
}

/* @end */

/* @group Admin Menu */
#admin-menu {
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -khtml-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -ms-filter: none;
  filter: none;
}
/* @end */

/* @group Drupal */
#messages .messages {
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -khtml-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* @end */

/* @group Fonts */
body { font-size: 75%;
}
#admin-menu { font-size: 1.2em; }

body, h1, h2, h3, h4, h5, h6 {
  font-family: "Dosis";
  font-weight: 300;
}

/* Menu */
#region-menu nav.navigation > ul.menu > li > a {
  font-size: 1.5em;
  line-height: 1em;
}
#region-menu nav.navigation > ul.menu > li > ul,
#region-menu nav.navigation > ul.menu > li > div,
#region-menu nav.navigation-secondary > ul.menu > li > a {
  font-size: 1.2em;
}

/* Blocks */
div.block-title h2.block-title {
  font-size: 2.4em;
	margin-top: 10px;
	margin-bottom: 5px;
}

/* Content */
#messages,
ul.action-links,
ul.tabs,
#zone-preface .region-inner > .block > .content,
#zone-content .region-inner > .block > .content,
#zone-postfix .region-inner > .block > .content {
  font-size: 1.4em;
}
#zone-footer .region-inner > .block > .content {
  font-size: 1.2em;
}
/* Headers */
h1 {
  font-size: 2.8em;
}
h2 {
  font-size: 2.4em;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.6em;
}
h5 {
  font-size: 1.4em;
}
.block > .content h1 {
  font-size: 2em;
}
.block > .content h2 {
  font-size: 1.714em;
}
#section-content div.block-title h2.block-title {
	border-top: 1px solid #ffd40a;
}

#section-content div.block-title h2.block-title div.text {
text-align: center;	  font-size: .65em; font-weight: 800;
position: relative;
bottom: 16px;
background-image: url(../images/webback.png);
width: 300px;
display: block;
margin-right: auto;
margin-left: auto;
}

.block > .content h3 {
  font-size: 1.429em;
}
.block > .content h4 {
  font-size: 1.143em;
}
.block > .content h5 {
  font-size: 1em;
}

div.caption {
	font-size: .9em;
	text-align: justify;
	margin-right: 5%;
	margin-left: 5%;
}

/* @end */


/* @group Page */
#page {
  position: relative;
}
/* @end */

/* @group Blocks */
.block .content {
  color: #626262;
}
.block .content li {
  margin-left: 2em;
}
.block .content .item-list li {
  margin: 0;
}
/* @end */


/* @group Sidebar */
#region-sidebar-first div.block-title,
#region-sidebar-second div.block-title {
}
#region-sidebar-first .block:first-child div.block-title {
  margin-top: 0;
}

.boxes-box-controls ul {
  margin: 0;
}
/* @end */

/* @group Menu */

#region-menu nav.navigation ul.menu li.leaf {

}
/* @end */
/* @group Search Form */
#block-search-form {
  margin: 0 auto 20px;
  width: 300px;
}
#block-search-form form {
  min-height: 0;
  position: relative;
}
#block-search-form .form-submit {
  background: url(../images/search.png) 0 0 no-repeat transparent;
  border: none;
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 20px;
  line-height: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  text-indent: -9999px;
  top: 4px;
  width: 24px;
}
#block-search-form .form-submit.focus:hover,
#block-search-form .form-submit.focus.hover {
  background-position: 0 -40px;
}
#block-search-form .form-submit.focus, #block-search-form .form-submit:active, #block-search-form .form-submit:focus {
  background-position: 0 -20px;
  border: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#block-search-form .form-text {
  color: #aaa;
  height: 28px;
  padding: 0 30px 0 4px;
  width: 100%;
}
#block-search-form .form-text.focus {
  color: #626262;
}

#block-search-form {
  margin: 0 auto 20px;
  width: 300px;
}
#block-search-form form {
  min-height: 0;
  position: relative;
}
#block-search-form .form-submit {
  background: url(../images/search.png) 0 0 no-repeat transparent;
  border: none;
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 20px;
  line-height: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  text-indent: -9999px;
  top: 4px;
  width: 24px;
}
#block-search-form .form-submit.focus:hover,
#block-search-form .form-submit.focus.hover {
  background-position: 0 -40px;
}
#block-search-form .form-submit.focus, #block-search-form .form-submit:active, #block-search-form .form-submit:focus {
  background-position: 0 -20px;
  border: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#block-search-form .form-text {
  color: #aaa;
  height: 28px;
  padding: 0 30px 0 4px;
  width: 100%;
}
#block-search-form .form-text.focus {
  color: #626262;
}

/* @end */
/* @group Content */

/* @group Sidebars */
#section-content #region-sidebar-first,
#section-content #region-sidebar-second {
  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(245,245,245,1) 50%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(245,245,245,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(245,245,245,1) 50%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(245,245,245,1) 50%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(245,245,245,1) 50%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(245,245,245,1) 50%,rgba(255,255,255,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}
#section-content #region-sidebar-first .region-inner,
#section-content #region-sidebar-second .region-inner {
  background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
  background: linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
  height: 100%;
  padding: 20px;
}
#section-content #region-sidebar-first > .separator,
#section-content #region-sidebar-second > .separator {
  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(212,212,212,0.98) 49%, rgba(213,213,213,1) 50%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(49%,rgba(212,212,212,0.98)), color-stop(50%,rgba(213,213,213,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(212,212,212,0.98) 49%,rgba(213,213,213,1) 50%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(212,212,212,0.98) 49%,rgba(213,213,213,1) 50%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(212,212,212,0.98) 49%,rgba(213,213,213,1) 50%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(212,212,212,0.98) 49%,rgba(213,213,213,1) 50%,rgba(255,255,255,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
  bottom: 0;
  position: absolute;
  top: 0;
  width: 1px;
}
#section-content #region-sidebar-first > .separator {
  right: 0;
}
#section-content #region-sidebar-first .region-inner {
  padding-right: 30px;
}
#section-content #region-sidebar-second > .separator {
  left: 0;
}
#section-content #region-sidebar-second .region-inner {
  padding-left: 30px;
}
/* @end */


ul.tabs {
  *padding-top: 1px;
}

#section-content {
	background-image: url(../images/webback.png);
}
#section-content .section-wrapper {
  overflow: hidden;
      
}
#section-content .zone-wrapper {
}
#section-content .zone-wrapper .zone {
}
#section-content .zone-wrapper > .separator {
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(212,212,212,1) 49%, rgba(255,255,255,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(49%,rgba(212,212,212,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(212,212,212,1) 49%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(212,212,212,1) 49%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(212,212,212,1) 49%,rgba(255,255,255,1) 100%); /* IE10+ */
  background: linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(212,212,212,1) 49%,rgba(255,255,255,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
  height: 1px;
}
#section-content .zone-wrapper .zone .region-inner {
  margin: 0;
  padding: 20px;
}

#section-content #region-preface-zero div.region-inner.region-preface-zero-inner {
	padding: 0;
	margin-top: 30px;
}

#section-content .zone-wrapper .zone .region-inner
/* @end */

/* @group Branding */
#zone-branding-wrapper {

}

#zone-branding {
  position: relative;
}
#region-branding {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
}
#region-branding .region-inner {
  padding: 20px;
}

.logo-img {
  float: none;
  margin: 0;
  text-align: center;
}

#logo {
  width: 250px;
}
/* @end */
/* @group Footer */
#zone-footer-wrapper {
  z-index: 1;
	padding-top: 10px;
	-webkit-box-shadow: #666 0px 0px 10px;
-moz-box-shadow: #666 0px 0px 10px;
box-shadow: #666 0px 0px 10px;
background-color: #026f3c;
}
#zone-footer-wrapper a,
#zone-footer-wrapper a:link
#zone-footer-wrapper a:visited {
  color: #fff;
  text-decoration: none;
}
#zone-footer-wrapper .block .content {
  color: white;
}
#zone-footer-wrapper div.block-title {
  margin: 15px 0;
}
#zone-footer-wrapper div.block-title h2.block-title div.separator {
  background-image: url(../images/separator-white.png);
}
#zone-footer-wrapper p {
  margin: 0 0 8px;
  padding: 0;
  color: white;
}
#region-footer-first,
#region-footer-second {
  margin: 0;
  padding-bottom: 20px;
  padding-top: 10px;
}
#region-footer-bottom {
  margin: 0;
  padding: 20px 0;
  width: 100%;
}
#region-footer-bottom .region-inner {
  padding: 0 20px;
}
#region-footer-bottom img {
  vertical-align: middle;
}
#region-footer-bottom img.levelten {
  position: relative;
  top: 2px;
}

/* Legal Notices Menu */
#region-footer-bottom .block {
  float: left;
}
#region-footer-bottom #block-menu-menu-legal-notices {
  float: right;
}
#region-footer-bottom #block-menu-menu-legal-notices .block-title {

}
#region-footer-bottom #block-menu-menu-legal-notices li {
  background: none;
  float: left;
  list-style: none;
}

body > #page #zone-footer h1, body > #page #zone-footer h2, body > #page #zone-footer h3,
body > #page #zone-footer h4, body > #page #zone-footer h5, body > #page #zone-footer h6 {
color: #fff;
margin-bottom: 0;
margin-top: 0;
padding-bottom: 15px;
border-bottom: 1px solid #ffd40a;
text-transform: capitalize;
font-weight: 500;
font-size: 1.75em;
}

#zone-footer label {
	color: white;
}
#region-footer-second {
	margin-left: 10px;
}

#block-block-4 div.content p a img {
	margin-right: 10px;
}

/* @group Schema.org*/

#block-block-1 {line-height: 20px;}

div.footer-address {
	float: left; margin-right: 10px;
	margin-bottom: 40px;
	background: url(../images/schema_sprite.png) no-repeat 0 2px;
	padding-left: 23px;
}


/* @end */
/* @end */


/* @group Form */
textarea, select, input[type="date"], input[type="datetime"],
input[type="datetime-local"], input[type="email"], input[type="month"],
input[type="number"], input[type="password"], input[type="search"], input[type="tel"],
input[type="text"], input[type="time"], input[type="url"], input[type="week"] {
  background: #fcfcfc;
}
input:focus, input:active, select:focus, select:active, textarea:focus, textarea:active {
  background: #fff;
}
button, textarea, select, input[type="date"], input[type="datetime"],
input[type="datetime-local"], input[type="email"], input[type="month"],
input[type="number"], input[type="password"], input[type="search"], input[type="tel"],
input[type="text"], input[type="time"], input[type="url"], input[type="week"] {  
  border: 1px solid #ccc;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #626262;
  z-index: 1;
}
button:focus, button:active, input:focus, input:active, select:focus, select:active, textarea:focus, textarea:active {
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  -khtml-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #489ec8;
}
.node-links ul li a, .comment-links ul li a,
button, input[type="reset"], input[type="submit"], input[type="button"] {
  background: rgb(250,250,250); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(250,250,250,1) 0%, rgba(238,238,238,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,250,250,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(250,250,250,1) 0%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(250,250,250,1) 0%,rgba(238,238,238,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(250,250,250,1) 0%,rgba(238,238,238,1) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(250,250,250,1) 0%,rgba(238,238,238,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
  border: 1px solid #dcdcdc;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #424242;
  letter-spacing: 0;
  font-family: "Helvetica Neue", "Helvetica", "Arial";
  font-size: 0.8em;
  padding: 5px 15px;
  text-shadow: none;
  text-transform: uppercase;
}
.node-links ul li a:hover, .comment-links ul li a:hover,
.form-actions input:hover {
  background: rgb(242,242,242); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(242,242,242,1) 0%, rgba(221,221,221,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,242,242,1)), color-stop(100%,rgba(221,221,221,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(221,221,221,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(221,221,221,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(221,221,221,1) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(221,221,221,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}

.node-links ul li a:active, .comment-links ul li a:active,
.form-actions input:active {
  background: rgb(221,221,221); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(221,221,221,1) 0%, rgba(242,242,242,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(221,221,221,1)), color-stop(100%,rgba(242,242,242,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(221,221,221,1) 0%,rgba(242,242,242,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(221,221,221,1) 0%,rgba(242,242,242,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(221,221,221,1) 0%,rgba(242,242,242,1) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(221,221,221,1) 0%,rgba(242,242,242,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
}

#region-sidebar-second textarea, #region-sidebar-second select, #region-sidebar-second input[type="date"],
#region-sidebar-second input[type="datetime"], #region-sidebar-second input[type="datetime-local"],
#region-sidebar-second input[type="email"], #region-sidebar-second input[type="month"],
#region-sidebar-second input[type="number"], #region-sidebar-second input[type="password"],
#region-sidebar-second input[type="search"], #region-sidebar-second input[type="tel"],
#region-sidebar-second input[type="text"], #region-sidebar-second input[type="time"],
#region-sidebar-second input[type="url"], input[type="week"] {
  width: 100%;
}
/* @end */

/* @group Header */

#section-header {
  overflow: hidden;
  position: relative;
  	background-image: url(../images/webback.png);
}

#zone-header {

}

#zone-header-wrapper {
  overflow: hidden;
  position: relative;

}

/* @end */

/* @group Menu */
#zone-menu {
  min-height: 30px;
  z-index: 10;
  }

#zone-menu-wrapper {
}
#region-menu .region-inner {
  margin: 0 -10px;
}
#region-menu nav > ul.menu > li {
  background: none;
  float: none;
  list-style: none;
  margin: 0 5px 0 0;
  padding: 0;
  position: relative;
  display: block;
text-align: center;
font-size: 1.25em;
font-weight: bold;
}
#region-menu nav > ul.menu > li.last {
  margin: 0;
}
#region-menu nav > ul.menu > li > a,
#region-menu nav > ul.menu > li > a:link,
#region-menu nav > ul.menu > li > a:visited {
  color: #006e34;
}
#region-menu nav > ul.menu > li > a.active-trail.active {
	color: #e41a20;
}


#region-menu nav > ul.menu > li > a {
  display: block;
  padding: 6px 15px;
  text-decoration: none;
}

#region-menu nav > ul.menu > li:hover > a,
#region-menu nav > ul.menu > li.hover > a {
	color: #e41a20;
}

/* Drop Down Menus */
#region-menu nav > ul.menu > li ul,
#region-menu nav > ul.menu > li .view {
  display: none;
}
#region-menu nav > ul.menu > li:hover ul,
#region-menu nav > ul.menu > li:hover .view,
#region-menu nav > ul.menu > li.hover ul,
#region-menu nav > ul.menu > li.hover .view {
  display: block;
  position: absolute;
}

/* Secondary Menu */
#region-menu nav.navigation-secondary {
  float: right;
  position: relative;
  top: 7px;
}
#region-menu nav.navigation-secondary ul.menu > li > a {
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -khtml-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 0 10px;
}
/* @end */

#block-block-2 {
	text-align: center;
}


/* @group Nivo */
.theme-default .nivo-controlNav a {
	background: url(../images/nivo-sprite.png) no-repeat;
}
.theme-default .nivo-controlNav a.active {
	background-position: 2px 0;
}
.theme-default .nivo-controlNav a {
	background-position: -19px 0;
}

div.slider-wrapper.theme-default {
	background-color: #ffd40a;
}

div.slider-wrapper.theme-default div.nivo-controlNav {
	padding: 0;
}
.theme-default .nivoSlider {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* @end */

/* @group KP & You */

div.kp_u {text-align: center;font-weight: 800;color: #006e34;}

hr.yella {background-color: #ffd40a;}

/* @end */

#block-views-blog-block p a.views-more-link {
	font-size: 13px;
}

div.post-date {
	color: white;
	background-color: #006e34;
	margin-left: 30px;
	padding-left: 8px;
	display: block;
	float: left;
	margin-right: 20px;
	font-size: 12px;
	position: relative;
	top: 9px;
	padding-right: 8px;
}

#block-views-blog-block .view-blog div.views-row {
	background: url(../images/date.png) no-repeat;
}

#block-views-blog-block .views-field-title {
	margin-bottom: 10px;
	position: relative;
	top: 4px;
}

#block-webform-client-block-2 {
	margin-top: 25px;
}
/* @group FP Prface */

#block-block-6 {
	margin-bottom: 10px;
}

div.fp-post-header a {
color: white;
position: relative;
bottom: 35px;
}

div.fp-post-body {
	font-size: .8em;
	position: relative;
	bottom: 25px;
}

a.more {
	position: relative;
	bottom: 10px;
	background-color: white;
	padding: 3px 30px;
	border-radius: 10px;
	font-weight: bold;
	text-decoration: none;
}

div.preface-blog, div.preface-galleries, div.preface-sponsor {
	text-align: center;
	padding: 10px;
	display: block;
	margin-top: 30px;
	min-height: 250px;
	margin-bottom: 50px;
}


div.preface-donate {
	text-align: center;
	display: inline-block;
	color: white;
	padding: 10px;
	background: url(../images/post-back-flip.png)  #006f3a;
}

div.preface-blog {
	color: white;
	background: url(../images/post-back.png) #006f3a;
}
div.preface-galleries {
	color: white;
	background: url(../images/post-back-flip.png) #006f3a;
}
div.preface-sponsor {
	color: white;
	background: url(../images/post-back.png) #e42515;
}

img.fp-image {
	position: relative;
	bottom: 50px;
}

/* @end */
.view-milestones .views-field-title, .view-milestones span span span.date-display-single {
	color: black;
	font-weight: bold;
}


div.view.view-events div.group-left img {border: 3px solid rgba(132, 132, 132, 0.58);}


div.view.view-events .node-schemaorg-event div.group-left {
	max-width: 250px;
	width: 40%;
	margin-right: 5%;
}
div.view.view-events .node-schemaorg-event div.group-right {
	width: 55%;
}

div.purchase {
	text-align: center;
	padding: 20px;
}

div.view.view-events.view-id-events.view-display-id-page input {
	background: url(non) #e21920;
	color: white;
}
